.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  padding: 0;
  margin: 10px auto;
  width: 300px;
  height: 400px;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.05),
    -5px -5px 30px 7px rgba(0, 0, 0, 0.05);

  transition: 0.4s;
}

.card-content {
  color: white;
}

.card .card_information {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 60px;
  padding-top: 30px;
  color: black;
}

.card .card_title {
  text-align: center;
  border-radius: 40px 40px 0px 0px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 40px;
  padding-top: 20px;
  height: 300px;
  background-image: radial-gradient(
    circle 691px at 12.9% 22.5%,
    rgba(123, 28, 29, 1) 39.4%,
    rgba(93, 9, 10, 1) 79.9%
  );
}

.title-white {
  color: white;
}

.title-black {
  color: black;
}

@media all and (max-width: 500px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}
